body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px; 
  height: 8px; 
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}


::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


::-webkit-scrollbar-corner {
  background: #f1f1f1; 
}
#htmlInput,#cssInput,#jsInput {
  min-height: 100px;
  max-height: 500px; 
  resize: vertical;  
  overflow: auto;   
}

#recordingSection {
  transition: all 0.3s ease-in-out;
  height: 100vh;

  background-color: #f8f9fa;
}

#dashboard {
  transition: all 0.3s ease-in-out;
  height: 100vh;
  overflow-y: auto;
  background-color: #e9ecef;
}

#typewriter {
width: 500px;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-x: auto;
  height: 200px;
  color: black;
  font-weight: 800;
  background-color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
 padding: 30px;
 padding-bottom: 50px;
 scroll-behavior: smooth;
}
#livePreview {
  width: 500px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block; /* Change this line */
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f1f1f1;
  min-height: 200px;
  height: 250px;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

#toggleDashboard {
  z-index: 10;
}


.hidden-dashboard #dashboard {
  display: none;
}

.hidden-dashboard #recordingSection {
  width: 100%;
}
#cursor {
  font-weight: bold;
  color: #00ff00;  /* Change cursor color */
  margin-left: 3px;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}
