@import url("https://fonts.googleapis.com/css2?family=Consolas&display=swap");

body {
  overflow-x: hidden;
  overflow-y: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.logo-text {
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  padding: 2px 8px 2px 8px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.logo-container:hover {
  background-color: #092c4f;
}

* {
  box-sizing: border-box;
}

.btn {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.form-check-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-check-input {
  cursor: pointer;
}

.form-check-container:hover {
  background-color: #c4c0c0;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form-check-input {
  width: 40px !important;
  height: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

#htmlInput,
#cssInput,
#jsInput {
  min-height: 100px;
  max-height: 500px;
  resize: vertical;
  overflow: auto;
}

.setting-dashboard {
  position: absolute;
  left: -400px;
  width: 25%;
  top: 5.5rem;
  height: 100vh;
  transition: left 0.4s ease-in-out;

  overflow-y: auto;
  background-color: #e9ecef;
}

.setting-dashboard.show {
  left: 0;
}

#dashboard {
  width: 25%;

  left: 0;
  transition: all 0.3s ease-in-out;
  height: 100vh;
  overflow-y: auto;
  background-color: #e9ecef;
}

.dashboard-hidden #dashboard {
  overflow: hidden;
}

.start-stopbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-left: auto;
  margin-right: 20px;
}

.display-section {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  transition: all 0.5s;
}

#recordingSection {
  position: absolute;
  right: 0;
  overflow-y: auto;
  width: calc(100% - 25%);
  transition: all 0.3s ease-in-out;
  height: 100vh;
  background-color: #f8f9fa;
  z-index: 10;
}

#typewriter::-webkit-scrollbar,
#livePreview::-webkit-scrollbar {
  display: none;
}

#typewriter {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  min-height: 30vh;
  max-height: 40vh;
  color: black;
  font-weight: 600;
  background-color: #f1f1f1;
  font-family: Consolas, "Courier New", monospace;
  font-size: 18px;
  padding: 30px;
  border-radius: 10px 10px 8px 8px;
  padding-bottom: 50px;
  scroll-behavior: smooth;
  transition: height 0.5s ease-in-out;
}

#typewriter.removeWordWrap {
  overflow-wrap: normal;
  overflow-x: auto;
}

#typewriter.removeWordWrap::-webkit-scrollbar {
  display: inline;
}

#livePreview {
  width: 350px;
  max-width: 800px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f1f1f1;
  height: 40vh;
  max-height: 90vh;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  transition: height 0.5s ease-in-out;
}

#livePreview.adding-border {
  border: none;
  background-color: transparent;
}

.dark-mode #livePreview.adding-border {
  background-color: transparent;
}

.recording-nav {
  display: none;
  position: sticky;
  top: 0;
}

.hidden-dashboard .recording-nav {
  display: flex;
}

.hidden-dashboard .display-section {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 0px;
}

.hidden-dashboard #dashboard {
  transition: all 0.3s ease-in-out;
}

.hidden-dashboard #livePreview {
  margin-top: 0;
}

.hidden-dashboard #recordingSection {
  width: 100%;
  z-index: 15;
}

.hidden-dashboard #livePreview,
.hidden-dashboard #typewriter {
  max-height: 100vh;
  height: 80vh;
}

.hidden-dashboard #typewriter {
  height: calc(80vh - 4vh);
}

.automaticHide .iphone {
  transform: translateY(10rem);
  scale: 0;
}

.automaticHide #livePreview {
  height: 80vh;
}

.iphone {
  width: 350px;
  transition: transform 0.5s, scale 0.5s;
  transform: translateY(0);
  background-color: black;
}

.color {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
  gap: 5px;

  background-color: black;
  height: 4vh;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: rgb(255, 204, 0);
}

.currentCode {
  color: white;
  font-size: 12px;
  margin-left: 10px;
}

#editeditor {
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: auto;
}

#editeditor:hover {
  color: #bcc1bc;
}

#editeditor:focus {
  color: #ff004c;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .form-check-container:hover {
  background-color: #636060;
}

.dark-mode .form-check-input {
  background-color: #6c6e6d !important;
}

.dark-mode #dashboard {
  background-color: #1e1e1e;
}

.dark-mode .setting-dashboard {
  background-color: #1e1e1e;
}

.dark-mode #recordingSection {
  background-color: black;
}

.dark-mode #typewriter {
  background-color: #2c2c2c;
  color: #ffffff;
}

.dark-mode #livePreview {
  background-color: #2c2c2c;
}

.dark-mode textarea {
  background-color: #2c2c2c;
  color: #ffffff;
}

.dark-mode textarea::placeholder {
  color: #838080;
}

.dark-mode input {
  background-color: #2c2c2c;
  color: #ffffff;
}

.dark-mode input::placeholder {
  color: #838080;
}

.dark-mode input:focus {
  border-color: #00ff00;
  background-color: #2c2c2c;
  color: #ffffff;
}

.dark-mode input:active {
  border-color: #00ff00;
  background-color: #2c2c2c;
  color: #ffffff;
}

.dark-mode #htmlInput,
.dark-mode #cssInput,
.dark-mode #jsInput {
  background-color: #2c2c2c;
  color: #ffffff;
}

.dark-mode #toggleDashboard {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode #toggleDashboard:hover {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode #toggleDashboard:active {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode #toggleDashboard:focus {
  background-color: #1e1e1e;
  color: #ffffff;
}

.alert-container {
  padding: 10px;
  display: flex;
  align-items: center;
  transform: scale(0);
  position: fixed;
  font-size: 12px;
  top: 20px;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%) scale(0);
  z-index: 1050;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.alert-container .btn-close {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}